<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>User name</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Navigate
          </ion-list-header>
          
           <ion-menu-toggle *ngIf="hideButton == false" autoHide="false">
            <ion-item>
                <button (click)="enableShowForm()">Start a run</button>
              </ion-item>
            </ion-menu-toggle>

            <form [(ngModel)]="formData" #distanceForm="ngForm" *ngIf="hideForm == false" (ngSubmit)="onClickSubmit(distanceForm)">
                <ion-list>
                  <ion-item>
                    <ion-label position="stacked" color="primary">enter a distance</ion-label>
                    <ion-input name="distance" type="text" required [(ngModel)]="distance" placeholder="distance" [ngModelOptions]="{standalone: true}"></ion-input>
                  </ion-item>
                </ion-list>
            
                <ion-input type = "submit" value = "start run"></ion-input>
              </form>

          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="route" routerLinkActive="active" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="map"></ion-icon>
                <ion-label>
                  Trail
                </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            Account
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

         

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list>
          <ion-item>
            <ion-label>
              Dark Theme
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
