<ion-header>
  <ion-toolbar>
    <ion-title>
       Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-button round (click)=navigatePerso()>
              <ion-icon name="md-body"></ion-icon>
              Espace personnel
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col >
        <ion-button round (click)=navigateOrientation()>
          <ion-icon name="compass"></ion-icon>
          Course d'orientation
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button round (click)=navigateTrail()>
          <ion-icon name="md-body"></ion-icon>
          Trail
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
