<ion-header>
  <ion-toolbar>
    <ion-title>
      Pro'rientation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)=navigateOrientation()>
          <ion-icon name="compass"></ion-icon>
          Course d'orientation
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=navigateTrail()>
          <ion-icon name="md-body"></ion-icon>
          Course à pied
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=navigatePerso()>
          <ion-icon name="md-body"></ion-icon>
          Espace personnel
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
